.Notified {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.notifyBox {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 800px;
  height: 400px;
  background-color: #5bbb7b;
  border-radius: 12px;
  overflow: hidden;
}

.GetNotifiedCard img {
  margin: 30px;
}

.GetNotifiedCard {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  color: #ffffff;
}

#NotifyClose {
  font-size: 10px;
  width: 40px;
  top: 0;
  right: 0;
  position: absolute;
}

#GetNotified h1 {
  font: DM Sans;
  size: 55px;
  line-height: 71.61px;
  font-weight: 700;
  size: 55px;
  color: #ffffff;
  letter-spacing: -2%;
}

#GetNotified p {
  width: 586.24px;
  height: 68px;
  top: 223.35px;
  left: 63.29px;
  font-weight: 400;
  size: 24px;
  line-height: 33.6px;
}

#GetNotifiedContent {
  display: flex;
  justify-content: center;
  margin: 70px;
  flex-direction: column;
}

#GetNotifiedContent form {
  margin-top: 25px;
  position: relative;
}

#GetNotifiedContent form .InputSearch #search-box {
  height: 74px;
  width: 620px;
  border-radius: 24.05px;
  background: #ffffff;
  border: none;
  margin: 0%;
  padding: 10px;
}

#GetNotifiedContent form .InputSearch button {
  height: 100%;
  width: 148.11px;
  position: absolute;
  right: 0;
  border-top-right-radius: 24.05px;
  border-bottom-right-radius: 24.05px;
  border: none;
}
